dist
node_modules
.next
.vercel
.cache
.DS_Store
*.log
*.lock
*.tgz
*.zip
*.env
*.env.*
!.env.example
*.module.css.d.ts
*.svg.d.ts
*.png.d.ts
*.jpg.d.ts
*.jpeg.d.ts
*.gif.d.ts
*.bmp.d.ts
*.tiff.d.ts
next-env.d.ts
README.md
LICENSE
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
.prettierignore
.eslintrc.js
.prettierrc.js
.stylelintrc.js
.lintstagedrc.js
.husky
.vscode
.github
.gitlab
.circleci
.travis.yml
.editorconfig
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
.env
.env.local
.env.development.local
.env.test.local
.env.production.local